#modalBuscar {
    overflow: hidden;
 }
  .friendsoptionstable {
    word-wrap: break-word;
  }
  .modal-dialog{
    position: relative;
    display: table;  
    width: auto;
    min-width: 300px;  
    overflow-y: auto;
  }
  .modal-body{
    height: 400px;
    width: 100%;
    overflow-y: auto;
  }
