.card-header{
    background-color: rgb(121, 160, 44);
}
.card-body{
    background-color: rgb(245, 245, 245);
}
#title{
    background-color: rgb(121, 160, 44);

}
#link img:hover{
    opacity: 0.5;
}
h2, h3, h4{
    text-align: center;
    font-weight: 1.5;
    color:whitesmoke;
}
.carousel-item img{
    height: 90%;
    padding-left: 10%;
    padding-right:10%;
}
.carousel{
    padding-bottom: 5px;
}
