@import url('https://fonts.googleapis.com/css?family=Numans');



.main{
    background-image: url('../imagenes/fondo_registro2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: url('../types/CaviarDreams/CaviarDreams.ttf');
    z-index: 1;
}

.card{
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.6) !important;
    margin-left: 11%;
    }

.card-header{
    background-color: rgba(0, 0, 0, 0.9);
}

.registrarse{
    color: black;
    background-color: rgb(153,204,51);
    width: 100px;
}

.registrarse:hover{
    color: black;
    background-color: rgba(153, 204, 51, 0.685);;
}


.card-header h2{
    color: rgb(153,204,51)
}

.card-body{
    margin-top: 20px;
}


